.about-cover {
  height: 250px;
  background: url('../../img/capa2.png') no-repeat center;
  background-size: cover;
}

.title {
  color: #fff;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin-top: 50px;
}

@media only screen and (max-width: 787px) {
  .about-cover {
    background: url('../../img/capa2-mobile.png') no-repeat center;
    background-size: cover;
  }
}