.home-cover {
  height: 250px;
  background: url('../../img/capa1.png') no-repeat center;
  background-size: cover;
}

.introduction {
  padding: 20px 0;
  line-height: 30px;
  background-color: var(--blue-primary);
}

.introduction .profile-photo img {
  display: block;
  max-width: 100%;
  border-radius: 50%;
}

.introduction h1 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
}

.introduction p {
  font-size: 1em;
  line-height: 25px;
  margin-left: 20px;
  margin-bottom: 10px;
  color: #fff;
}

@media only screen and (max-width: 787px) {
  .home-cover {
    background: url('../../img/capa1-mobile.png') no-repeat center;
    background-size: cover;
  }

  .introduction p {
    margin-left: 0;
  } 

  .form-image img {
    max-height: 100px;
    margin: 0 auto;
  }
}

.form-question {
  margin: 10px 0;
}

.ask p, .answers p, .redes-sociais p {
  font-size: 1em;
  line-height: 25px;
}

.form-image img {
  height: 250px;
  display: block;
  margin: 0 auto;
}

.redes-sociais ul {
  margin-top: 20px;
}

.redes-sociais ul li a img {
  display: inline-block;
  height: 40px;
}

.redes-sociais ul li a {
  color: var(--blue-primary);
  font-style: normal;
  font-size: 25px;
  display: block;
  text-align: center;
}

.redes-sociais ul li a:hover {
  color: var(--green-primary);
}