.form-submit {
  text-align: center;
  margin-top: 80px;
}

.form-submit p {
  margin-bottom: 10px;
}

.form-question label {
  display: block;
  margin: 10px 0;
}

.form-question input, .form-question textarea {
  width: 100%;
  max-width: 100%;
  border: 3px solid var(--blue-primary);
  padding: 5px;
  color: var(--blue-primary);
}

.form-question input:hover, .form-question textarea:hover {
  border-color: var(--green-primary);
}

.form-question input:focus, .form-question textarea:focus {
  outline: none;
  border-color: var(--green-primary);
}

.form-question textarea {
  height: 100px;
  margin-bottom: 10px;
}