.header {
  width: 100%;
  background-color: var(--yellow-primary);
  padding: 12px 0;
}

.header .logo img {
  height: 50px;
}

.header nav ul {
  text-align: right;
}

.header nav ul li {
  display: inline-block;
  margin-left: 20px;
}

.header nav ul li a {
  display: inline-block;
  color: var(--blue-primary);
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 15px;
}

.header nav ul li a:hover {
  background-color: var(--blue-primary);
  color: var(--yellow-primary);
}

@media only screen and (max-width: 787px) {
  .header {
    padding-bottom: 0px;
  }

  .header .logo img {
    display: block;
    margin: 0 auto;
  }

  .header nav ul {
    margin-top: 20px;
    text-align: center;
  }

  .header nav ul li {
    margin-left: 0px;
  }
}