/* Definitions of variables */

:root {
  --blue-primary: #005CA9;
  --yellow-primary: #FDC300;
  --green-primary: #009E3D;
}

/* Defaults style */

.sub-title {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
  color: var(--blue-primary);
}

.sub-title::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  margin: 5px auto;
  background-color: var(--blue-primary);
}

p {
  line-height: 25px;
}