/* Definitions of variables */

:root {
  --blue-primary: #005CA9;
  --yellow-primary: #FDC300;
  --green-primary: #009E3D;
}

/* Defaults style */

.sub-title {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
  color: var(--blue-primary);
}

.sub-title::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  margin: 5px auto;
  background-color: var(--blue-primary);
}

body {
  font: 400 18px Rubik, sans-serif;
}

p {
  line-height: 25px;
}

/* Button */

.btn {
  display: block;
  padding: 5px 10px;
  border: 3px solid var(--blue-primary);
  color: var(--blue-primary);
  font-weight: bold;
  font-size: 1em;
  background-color: white;
}

.btn:hover {
  color: var(--green-primary);
  border-color: var(--green-primary);
}

/* Forms */

.form-default label {
  display: block;
  margin: 10px 0;
}

.form-default input, .form-default textarea {
  width: 100%;
  max-width: 100%;
  border: 3px solid var(--blue-primary);
  padding: 5px;
  color: var(--blue-primary);
}

.form-default input:hover, .form-default textarea:hover {
  border-color: var(--green-primary);
}

.form-default input:focus, .form-default textarea:focus {
  outline: none;
  border-color: var(--green-primary);
}

.form-default textarea {
  height: 100px;
  margin-bottom: 10px;
}